.section {
  .setting {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    label {
      flex: 1;
      font-size: 18px;
    }

    select {
      flex: 1;
      padding: 5px;
      font-size: 16px;
    }
  }
}