<div class="section">
  <h4>Appearence</h4>
  <div class="setting">
    <label for="mode">Mode</label>
    <select id="mode">
      <option>Light</option>
      <option>Dark</option>
    </select>
  </div>
  <div class="setting">
    <label for="ascent-color">Ascent Color</label>
    <select id="ascent-color">
      <option>Gold</option>
      <option>Silver</option>
      <option>Bronze</option>
    </select>
  </div>
</div>

<div class="section">
  <h4>App Center</h4>
  <div class="list">
    <p>Anime</p>
    <p>K-Drama</p>
    <p>Random</p>
    <p>Download</p>
    <p>Disclaimer</p>
    <p>Contact Us</p>
  </div>
</div>