<div class="movie-container">
  <div class="header">
    <h1>Movie</h1>
  </div>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <p class="title" (click)="getListMovie('movie', 'now_playing', 1)">Now Playing</p>
      </ng-template>
      <div class="movies-grid">
        <div class="movie-item" *ngFor="let movie of dataResults">
          <app-item [dataResults]="movie"></app-item>
        </div>
      </div>
      <p-paginator *ngIf="totalPages" [rows]="20" [totalRecords]="totalPages"
        (onPageChange)="onPageChange($event)"></p-paginator>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <p class="title" (click)="getListMovie('movie', 'popular', 1)">Popular</p>
      </ng-template>
      <div class="movies-grid">
        <div class="movie-item" *ngFor="let movie of dataResults">
          <app-item [dataResults]="movie"></app-item>
        </div>
      </div>
      <p-paginator *ngIf="totalPages" [rows]="20" [totalRecords]="totalPages"
        (onPageChange)="onPageChange($event)"></p-paginator>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <p class="title" (click)="getListMovie('movie', 'top_rated', 1)">Top Rated</p>
      </ng-template>
      <div class="movies-grid">
        <div class="movie-item" *ngFor="let movie of dataResults">
          <app-item [dataResults]="movie"></app-item>
        </div>
      </div>
      <p-paginator *ngIf="totalPages" [rows]="20" [totalRecords]="totalPages"
        (onPageChange)="onPageChange($event)"></p-paginator>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <p class="title" (click)="getListMovie('movie', 'upcoming', 1)">Upcoming</p>
      </ng-template>
      <div class="movies-grid">
        <div class="movie-item" *ngFor="let movie of dataResults">
          <app-item [dataResults]="movie"></app-item>
        </div>
      </div>
      <p-paginator *ngIf="totalPages" [rows]="20" [totalRecords]="totalPages"
        (onPageChange)="onPageChange($event)"></p-paginator>
    </p-tabPanel>
  </p-tabView>
</div>