h2 {
    margin: 20px 0;
  }
  .header{
    display: flex;
    justify-content: space-between;
  
    .swipe{
        margin: 20px 0;
        display: flex;
        align-items: center;
        gap: 10px;
  
      button{
        border: none;
      }
    }
  }
  
  .list-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    .list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px;
      width: 200px;
      flex-shrink: 0;
  
      img {
        width: 100%;
        border-radius: 10px;
      }
  
      p {
        margin: 10px 0 0;
        text-align: left;
      }
    }
  }
  