.movie-container {
  padding: 20px;
  font-family: Poppins, sans-serif;

  .title{
    margin: 0px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .movies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    .movie-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px;
      width: 250px;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}