.item {
  width: 700px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &-poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
  }

  &-details {
    padding: 10px;

    &-title {
      font-size: 18px;
      margin: 0;
    }

    &-info {
      font-size: 16px;
      color: #657d9a;
      margin: 5px 0;
    }

    &-genres {
      font-size: 16px;
      color: #657d9a;
      margin: 0;
    }
  }
}

@media screen and (max-width:769px) {
  .item {
    width: 100%;
  }
}