.body {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin: 40px 0px;

  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    a {
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      text-decoration: none;
    }

    .forminput {
      display: flex;
      flex-direction: column;
      gap: 30px
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      width: 100%;

      label {
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      input {
        width: 100%;
        color: #3E3E3E;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        border: none;
        border-bottom: 1px solid #E6E6E6;
        outline: none;
      }
    }

    .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .create-acc button {
        padding: 15px 30px;
        border-radius: 15px;
        border: none;
        background: #007bff;
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin: 0px;
        width: 100%;
      }

      .login-gmail button {
        width: 100%;
        display: flex;
        justify-items: center;
        gap: 20px;
        padding: 15px 30px;
        border-radius: 15px;
        border: 1px solid #979797;
        background-color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        align-items: center;
      }
    }
  }
}

.invalid-message {
  color: red;
}

form .ng-invalid.ng-touched {
  border-color: #e66262;
}