.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 40px auto;
  width: 400px;

  &-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;

    label {
      font-family: Poppins, sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
    }
  }

  &-forminput {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      input {
        width: 100%;
        color: #3E3E3E;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        border: none;
        border-bottom: 1px solid #E6E6E6;
        outline: none;
      }

      .invalid-message {
        color: red;
      }

      .ng-invalid.ng-touched {
        border-color: #e66262;
      }
    }

    &-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      button {
        padding: 10px 20px;
        border-radius: 15px;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        height: 47px;
      }

      .create-acc {
        border: none;
        background: #007bff;
        color: #fff;
        margin: 0px;
      }

      .login-gmail {
        display: flex;
        gap: 5px;
        border: 1px solid #979797;
        background-color: #fff;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .body-forminput-button {
    display: flex;
    flex-direction: column;
  }
}