<div class="tv-container">
  <div class="header">
    <h1>Tv</h1>
  </div>
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <label class="title" (click)="getListMovie('tv', 'airing_today', 1)">Airing Today</label>
      </ng-template>
      <div class="tv-grid">
        <div class="tv-item" *ngFor="let tv of dataResults" [routerLink]="['/detail/tv/', tv.id]">
          <app-item [dataResults]="tv"></app-item>
        </div>
      </div>
      <p-paginator *ngIf="totalPages" [rows]="20" [totalRecords]="totalPages"
        (onPageChange)="onPageChange($event)"></p-paginator>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <label class="title" (click)="getListMovie('tv', 'on_the_air', 1)">On The Air</label>
      </ng-template>
      <div class="tv-grid">
        <div class="tv-item" *ngFor="let tv of dataResults" [routerLink]="['/detail/tv/', tv.id]">
          <app-item [dataResults]="tv"></app-item>
        </div>
      </div>
      <p-paginator *ngIf="totalPages" [rows]="20" [totalRecords]="totalPages"
        (onPageChange)="onPageChange($event)"></p-paginator>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <label class="title" (click)="getListMovie('tv', 'popular', 1)">Popular</label>
      </ng-template>
      <div class="tv-grid">
        <div class="tv-item" *ngFor="let tv of dataResults" [routerLink]="['/detail/tv/', tv.id]">
          <app-item [dataResults]="tv"></app-item>
        </div>
      </div>
      <p-paginator *ngIf="totalPages" [rows]="20" [totalRecords]="totalPages"
        (onPageChange)="onPageChange($event)"></p-paginator>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <label class="title" (click)="getListMovie('tv', 'top_rated', 1)">Top Rated</label>
      </ng-template>
      <div class="tv-grid">
        <div class="tv-item" *ngFor="let tv of dataResults" [routerLink]="['/detail/tv/', tv.id]">
          <app-item [dataResults]="tv"></app-item>
        </div>
      </div>
      <p-paginator class="" *ngIf="totalPages" [rows]="20" [totalRecords]="totalPages"
        (onPageChange)="onPageChange($event)"></p-paginator>
    </p-tabPanel>
  </p-tabView>
</div>