.tv-container {
  padding: 20px;
  font-family: Arial, sans-serif;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tv-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    .tv-item {
      flex: 1 1 calc(10% - 15px);
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

      .tv-title {
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
      }
    }
  }
}
