.tv-container {
  padding: 20px;
  font-family: Arial, sans-serif;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tv-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

    .tv-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px;
      width: 250px;
      flex-shrink: 0
    }
  }
}