<div class="header">
  <h2>{{ list }}</h2>
  <div class="swipe">
    <button (click)="scrollLeft()" data-tooltip-content="Swipe Left">
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    Swipe
    <button (click)="scrollRight()" data-tooltip-content="Swipe Right">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</div>
<div class="outer-container">
  <div class="list-container" #listContainer>
    <div class="list-item" *ngFor="let listMovie of listMovie" [routerLink]="['/detail/movie', listMovie.id]">
      <app-item [dataResults]="listMovie" ></app-item>
    </div>
  </div>
</div>