<p>
  {{ detail.overview }}
</p>
<div class="extra-details">
  <p><strong>Release:</strong> {{ detail.release_date }}</p>
  <p>
    <strong>Genre:</strong
    ><label *ngFor="let genre of detail.genres">{{ genre.name }}</label>
  </p>
  <p>
    <strong>Spoken Languages:</strong>
    <label *ngFor="let languages of detail.spoken_languages">{{
      languages.english_name
    }}</label>
  </p>
  <p><strong>Production Companies:</strong></p>
  <ul *ngFor="let companies of detail.production_companies">
    <li>{{ companies.name }}</li>
  </ul>
  <p>
    <strong>Production Countries:</strong>
    <label *ngFor="let countries of detail.production_countries">{{
      countries.name
    }}</label>
  </p>
  <p><strong>Tag Line:</strong>{{ detail.tagline }}</p>
</div>
