
<div class="vertical-nav">
  <a href="/home" class="nav-item"><i class="pi pi-home"></i></a>
  <a href="/search" class="nav-item"><i class="pi pi-search"></i> </a>
  <a href="/movie" class="nav-item"><i class="pi pi-play-circle"></i></a>
  <a href="/tv" class="nav-item"><i class="pi pi-desktop"></i></a>
  <a href="/collections" class="nav-item"><i class="pi pi-bookmark"></i></a>
  <a href="/settings" class="nav-item"><i class="pi pi-cog"></i></a>
</div>
<div class="movie-detail-container">
  <router-outlet></router-outlet>
</div>
