.vertical-nav {
  width: 50px;
  background-color: #f0f4ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0 10% 10px;
  height: 270px;
  position: fixed;
  border-radius: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 10px;
    text-decoration: none;
    color: #657d9a;

    &:active,
    &:hover {
      color: #007bff;
    }
  }
}

.movie-detail-container {
  padding-left: 75px;
  margin: auto;
}

@media screen and (max-width: 769px) {
  .vertical-nav {
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

    .nav-item {
      margin: 0 10px;
      height: 100%;
    }
  }

  .movie-detail-container {
    padding: 10px;
  }
}