.container-movie{
  max-width: 1440px;
  margin: auto;
.list {
  margin: 20px;
  font-family: 'Arial, sans-serif';

  .movie-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;

    .movie-card {
      flex: 0 0 auto;
      width: 180px;
      text-align: center;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

      p {
        margin-top: 5px;
        font-size: 16px;
      }
    }
  }
}
}