.similar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
  width: 100%;

  .container-item {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .list-item {
    display: flex;
    width: 180px;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;

    img {
      width: 100%;
      height: 250px;
      border-radius: 10px;
    }

    p {
      margin: 10px 0 0;
      text-align: left;
    }
  }

  .swipe {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      background-color: #fff;
      border: none;
    }
  }
}