.similar {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-list {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    &-item {
      display: flex;
      width: 180px;
      flex-shrink: 0;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border-radius: 10px;
      padding: 10px;
  
      img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
      }
  
      p {
        margin: 10px 0 0;
        text-align: left;
      }
    }
  }


&-swipe {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    button {
      background-color: #fff;
      border: none;
    }
  }
}

@media screen and (max-width: 769px) {
  .similar {
    position: relative;
    align-items: flex-start;
    margin: 10px;
    overflow: hidden;
  }

  .list-item {
    width: 100%;
    margin-bottom: 10px;
  }

  .swipe {
    flex-direction: row;
  }
}
