.text-container {
  position: relative;
  max-width: 100%;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  transition: max-height 0.3s ease;
  max-height: 45px;
}

.full-text {
  -webkit-line-clamp: initial;
  max-height: none;
}

a{ 
  cursor: pointer;
}