  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    width: 400px;

    &-title {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      width: 100%;

      label {
        font-family: Poppins, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }
    }

    &-forminput {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;

      &-form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          font-family: Poppins, sans-serif;
          font-size: 16px;
          font-weight: 500;
          border: none;
          border-bottom: 1px solid #e6e6e6;
          width: 100%;
          outline: none;
        }

        .invalid-message {
          color: red;
        }

        .ng-invalid.ng-touched {
          border-color: #e66262;
        }
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          font-family: Poppins, sans-serif;
          font-size: 16px;
          padding: 10px 20px;
          font-weight: 300;
          border: none;
        }

        .left {
          border-radius: 8px;
          background: #007bff;
          color: #fff;
        }

        .right {
          color: #3e3e3e;
          background-color: #fff;
        }
      }
    }
  }