.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;

  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 400px;

    .title {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      width: 100%;

      label {
        font-family: Poppins, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }
    }

    .forminput,
    .form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
    }

    .form {
      align-items: flex-start;

      input {
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-bottom: 1px solid #e6e6e6;
        width: 100%;
        outline: none;
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left button {
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
        background: #007bff;
        color: #fff;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        font-weight: 300;
      }

      .right label {
        color: #3e3e3e;
        font-family: Poppins, sans-serif;
        font-size: 15px;
        font-weight: 500;
      }
    }

    a {
      font-family: Poppins, sans-serif;
      font-size: 15px;
      font-weight: 500;
      text-decoration: none;
      color: #007bff;
    }
  }

  .invalid-message {
    color: red;
  }

  form .ng-invalid.ng-touched {
    border-color: #e66262;
  }
}