<div class="movie-detail-container">
  <div class="movie-banner">
    <img
      [src]="imgUrl + detail.backdrop_path"
      alt="Ghostbusters: Frozen"
      class="banner-image"
    />
    <div class="movie-poster">
      <img
        [src]="imgUrl + detail.poster_path"
        alt="Ghostbusters: Frozen"
        class="poster-image"
      />
      <div class="rating">
        <span>{{ detail.vote_average }}</span>
      </div>
      <div class="title">
        <h3>{{ detail.title }}</h3>
        <div class="actions">
          <button class="watch-btn">watch</button>
          <button class="trailer-btn">trailer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-info">
    <p-tabView>
      <p-tabPanel header="Overview">
        <app-overview [detail]="detail"></app-overview>
      </p-tabPanel>
      <p-tabPanel header="Casts">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsum,
          ea reiciendis quibusdam tenetur, illo sit dolor velit voluptas at
          quos, quae quas officiis quod nam. Tempora earum cum assumenda!
        </p>
      </p-tabPanel>
      <p-tabPanel header="Reviews">
        <div class="review">
          <div class="content" *ngFor="let review of reviews.results">
            <app-reviews [review]="review"></app-reviews>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Similar">
        <app-similiar
          [similarMovies]="similarMovies"
          [imgUrl]="imgUrl"
        ></app-similiar>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
