.collection-detail-container {
  display: flex;
  padding: 20px;
  background-color: #f0f0f0;

  .collection-image-container {
    flex: 1;
    text-align: center;

    .collection-image {
      width: 100%;
      max-width: 400px;
      border-radius: 10px;
    }
  }

  .collection-info-container {
    flex: 2;
    padding: 0 20px;

    .title {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .past {

      .swipe {
        margin: 20px 0;
        display: flex;
        align-items: center;
        gap: 10px;

        button {
          border: none;
        }
      }

      .list-container {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        width: 960px;
        gap: 20px;

        &::-webkit-scrollbar {
          display: none;
        }

        .list-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #fff;
          border-radius: 10px;
          padding: 10px;
          width: 250px;
          flex-shrink: 0;
          img {
            width: 215px;
            height: 260px;
            border-radius: 10px;
          }
          
          .movie-title {
            margin-top: 10px;
            text-align: center;
            font-size: 16px;
          }
        }
      }
    }
  }
}