<div class="collection-detail-container">
  <div class="collection-image-container">
    <img [src]="imgUrl + detail.poster_path" alt="{{ detail.name }}" class="collection-image" />
  </div>
  <div class="collection-info-container">
    <div class="tab-content">
      <h2>Overview</h2>
      <div class="body">
        <div class="title">
          <h3>{{ detail.name }}</h3>
        </div>
        <p>{{ detail.biography }}</p>

        <h4>Overview</h4>
        <p>{{ detail.overview }}</p>
        <h4>Parts</h4>
        <div class="past">
          <div class="swipe">
            <button (click)="scrollLeft()" data-tooltip-content="Swipe Left">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            Swipe
            <button (click)="scrollRight()" data-tooltip-content="Swipe Right">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
          <div class="list-container" #listContainer>
            <div class="list-item" *ngFor="let parts of detail.parts" [routerLink]="['/detail/movie', parts.id]">
              <img [src]="imgUrl + parts.poster_path" alt="{{ parts.original_title }}" />
              <div class="movie-title">{{ parts.original_title || parts.original_name || parts.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>