<!-- <div class="movie-detail-container">
  <div class="movie-banner">
    <img [src]="imgUrl + detail.profile_path" class="banner-image" />
    <div class="movie-poster">
      <div class="title">
        <h3>{{ detail.name }}</h3>
      </div>
    </div>
  </div>
  <div class="movie-info">
    <p-tabView>
      <p-tabPanel header="Overview">
        <p>
          {{ detail.biography }}
        </p>
        <div class="extra-details">
          <p><strong>Dirthday:</strong> {{ detail.birthday }}</p>
          <p><strong>Place of birth:</strong> {{ detail.place_of_birth }}</p>
          <p>
            <strong>Genre:</strong><label *ngFor="let genre of detail.genres"> {{ genre.name }},</label>
          </p>
          <p>
            <strong>Spoken Languages:</strong>
            <label *ngFor="let languages of detail.spoken_languages">{{
              languages.english_name
              }}</label>
          </p>
          <p><strong>Production Companies:</strong></p>
          <ul *ngFor="let companies of detail.production_companies">
            <li>{{ companies.name }}</li>
          </ul>
          <p>
            <strong>Production Countries:</strong>
            <label *ngFor="let countries of detail.production_countries">{{
              countries.name
              }}</label>
          </p>
          <p><strong>Tag Line:</strong>{{ detail.tagline }}</p>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Casts">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ipsum,
          ea reiciendis quibusdam tenetur, illo sit dolor velit voluptas at
          quos, quae quas officiis quod nam. Tempora earum cum assumenda!
        </p>
      </p-tabPanel>
      <p-tabPanel header="Reviews">
        <div class="review">
          <div class="content" *ngFor="let review of reviews.results">
            <app-reviews [review]="review"></app-reviews>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Seasion">
        <div class="seasons">
          <div *ngFor="let seasons of detail.seasons">
            <app-seasons [seasons]="seasons" [imgUrl]="imgUrl"></app-seasons>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Similar">
        <app-similiar [similarMovies]="similiar" [imgUrl]="imgUrl"></app-similiar>
      </p-tabPanel>
    </p-tabView>
  </div>
</div> -->


<div class="person-detail-container">
  <div class="person-image-container">
    <img  [src]="imgUrl + detail.profile_path" alt="{{ detail.name }}" class="person-image" />
  </div>
  <div class="person-info-container">
    <div class="tab-content">
      <h2>Overview</h2>
      <div class="body">
        <div class="title">
          <h3>{{ detail.name }}</h3> --- <h4>{{detail.known_for_department}}</h4>
        </div>
        <p>{{ detail.biography }}</p>

        <h3>Birthday</h3>
        <p>{{ detail.birthday }}</p>
        <h4>Place of Birth</h4>
        <p>{{ detail.place_of_birth }}</p>
        <h4>Also known as</h4>
        <div *ngFor="let alsoKnownAs of detail.also_known_as">
          <li>{{ alsoKnownAs }}</li>
        </div>
      </div>
    </div>
  </div>
</div>
