<div class="search-container">
  <div class="search-bar">
    <form [formGroup]="formSearch">
      <input placeholder="Search..." formControlName="query" />
      <button type="submit" (click)="onSearch()">Search</button>
    </form>
  </div>
  <ng-container *ngIf="listSearch else template">
  <div class="search-header">
    <p>
      Showing results for
      <span class="highlight">{{ formSearch.value.query }}</span>
    </p>
  </div>
  <div class="results-grid" *ngIf="listSearch.length > 0 else templateEmty">
    <div *ngFor="let result of listSearch">
      <div class="result-item" *ngIf="result.media_type === 'person'" [routerLink]="['/detail/person', result.id]">
        <img [src]="imgUrl + (result.profile_path ? result.profile_path : result.poster_path)" alt="{{ result.name }}"
          class="result-image" />
        <div class="result-details">
          <h2 class="result-title">
            {{ result.name }}
          </h2>
          <p class="result-type">{{ result.media_type }}</p>
        </div>
      </div>
      <div class="result-item" *ngIf="result.media_type === 'movie'" [routerLink]="['/detail/movie', result.id]">
        <img [src]="imgUrl +(result.profile_path ? result.profile_path : result.poster_path)"
          alt="{{ result.original_title }}" class="result-image" />
        <div class="result-details">
          <h2 class="result-title">
            {{ result.original_title }}
          </h2>
          <p class="result-type">{{ result.media_type }}</p>
        </div>
      </div>
      <div class="result-item" *ngIf="result.media_type === 'tv'" [routerLink]="['/detail/tv', result.id]">
        <img [src]="imgUrl + (result.profile_path ? result.profile_path : result.poster_path)"
          alt="{{ result.original_name }}" class="result-image" />
        <div class="result-details">
          <h2 class="result-title">
            {{ result.original_name }}
          </h2>
          <p class="result-type">{{ result.media_type }}</p>
        </div>
      </div>
      <div class="result-item" *ngIf="result.media_type === 'collection'"
        [routerLink]="['/detail/collection', result.id]">
        <img [src]="imgUrl + (result.profile_path ? result.profile_path : result.poster_path)" alt="{{ result.name }}"
          class="result-image" />
        <div class="result-details">
          <h2 class="result-title">
            {{ result.name }}
          </h2>
          <p class="result-type">{{ result.media_type }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <p-paginator *ngIf="totalpage > 0" [first]="first" [rows]="pageSize" [totalRecords]="totalpage"
      (onPageChange)="onPageChange($event)"></p-paginator>
  </div>

  <ng-template #templateEmty>
    <h5 class="alert alert-warning">
      Search query is empty 
    </h5>
  </ng-template>
</ng-container>
<ng-template #template>
  <h4>Top Search Today</h4>
  <div class="results-grid">
    <div *ngFor="let result of trendingSearch">
      <div class="result-item" *ngIf="result.media_type === 'person'" [routerLink]="['/detail/person', result.id]">
        <img [src]="imgUrl + (result.profile_path ? result.profile_path : result.poster_path)" alt="{{ result.name }}"
          class="result-image" />
        <div class="result-details">
          <h2 class="result-title">
            {{ result.name }}
          </h2>
          <p class="result-type">{{ result.media_type }}</p>
        </div>
      </div>
      <div class="result-item" *ngIf="result.media_type === 'movie'" [routerLink]="['/detail/movie', result.id]">
        <img [src]="imgUrl +(result.profile_path ? result.profile_path : result.poster_path)"
          alt="{{ result.original_title }}" class="result-image" />
        <div class="result-details">
          <h2 class="result-title">
            {{ result.original_title }}
          </h2>
          <p class="result-type">{{ result.media_type }}</p>
        </div>
      </div>
      <div class="result-item" *ngIf="result.media_type === 'tv'" [routerLink]="['/detail/tv', result.id]">
        <img [src]="imgUrl + (result.profile_path ? result.profile_path : result.poster_path)"
          alt="{{ result.original_name }}" class="result-image" />
        <div class="result-details">
          <h2 class="result-title">
            {{ result.original_name }}
          </h2>
          <p class="result-type">{{ result.media_type }}</p>
        </div>
      </div>
      <div class="result-item" *ngIf="result.media_type === 'collection'"
        [routerLink]="['/detail/collection', result.id]">
        <img [src]="imgUrl + (result.profile_path ? result.profile_path : result.poster_path)" alt="{{ result.name }}"
          class="result-image" />
        <div class="result-details">
          <h2 class="result-title">
            {{ result.name }}
          </h2>
          <p class="result-type">{{ result.media_type }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
</div>