<app-slide></app-slide>
<div class="component">
  <app-component [listMovie]="movieNowPlaying" [list]="'Now Playing Movie'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="moviePopular" [list]="'Popular Movie'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="movieTopRated" [list]="'Top Rated Movie'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="movieUpcoming" [list]="'Upcoming Movie'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="tvAiringToday" [list]="'TV programs airing today'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="tvOnTheAir" [list]="'Currently Airing on Tv'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="tvPopular" [list]="'Trending TV'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="tvTopRated" [list]="'Highest Rated TV Shows'"></app-component>
</div>