<app-slide></app-slide>
<div class="component">
  <app-component [listMovie]="movieNowPlaying" [list]="'Now Playing Movie'" [category]="'movie'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="moviePopular" [list]="'Popular Movie'" [category]="'movie'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="movieTopRated" [list]="'Top Rated Movie'" [category]="'movie'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="movieUpcoming" [list]="'Upcoming Movie'" [category]="'movie'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="tvAiringToday" [list]="'TV programs airing today'" [category]="'tv'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="tvOnTheAir" [list]="'Currently Airing on Tv'" [category]="'tv'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="tvPopular" [list]="'Trending TV'" [category]="'tv'"></app-component>
</div>
<div class="component">
  <app-component [listMovie]="tvTopRated" [list]="'Highest Rated TV Shows'" [category]="'tv'"></app-component>
</div>