.settings-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .section {
    .account {
      display: flex;
      justify-content: space-between;

      .auth {
        display: flex;
        gap: 10px;
      }
    }

    .sync-box {
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 4px;
      text-align: center;
      font-family: Poppins, sans-serif;
    }
  }
}