.container {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  max-width: 1440px;
  margin: auto;
  padding: 20px;

  &-banner {
    width: 100%;
    position: relative;

    &-image {
      width: 100%;
      height: auto;
    }

    &-poster {
      display: flex;
      margin-right: 20px;
      width: 100%;

      .image {
        border-top-right-radius: 10px;
        padding: 10px 10px 0px 0px;
        background-color: #fff;
      }

      .rating {
        position: absolute;
        left: 0;
        background: yellow;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.2em;
      }

      .title {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
        margin-top: -60px;
        border-top-right-radius: 10px;

        &-name {
          font-size: 22px;
          font-weight: bold;
        }

        &-actions {
          display: flex;
          align-items: center;
          gap: 10px;

          &-btn {
            display: flex;
            align-items: center;
            background-color: #5e82fe;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            transition: background-color 0.3s;
          }
        }
      }
    }
  }

  .review {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .content {
      padding: 20px;
      border-radius: 15px;
      background-color: #f6f5f5;
    }
  }
}

@media screen and (min-width: 770px) {
  .container-banner-poster {
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: flex-end;

    .image {
      width: 250px;
    }
  }


  .rating {
    top: 10px;
    left: 10px;
  }
}

@media screen and (max-width: 769px) {
  .banner-image {
    display: none;
  }

  .container-banner-poster {
    display: flex;
    align-items: center;
    flex-direction: column;

    .image {
      width: 70%;
    }
  }


  .rating {
    top: 2%;
    left: 17%;
  }
}