/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


@import 'ngx-toastr/toastr';

a,
button {
  cursor: pointer;
}

p {
  margin: 0px;
  font-family: Poppins, sans-serif;
}