.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  height: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    width: 100%;

    .show-image-wrapper {
      width: 1430px;
      height: 750px;
      border-radius: 10px;

      .show-image {
        width: 100%;
        height: 750px;
        border-radius: 10px;
      }
    }

    .show-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin-top: -60px;
      background-color: white;
      padding: 10px;
      border-radius: 10px;

      .show-type {
        font-size: 14px;
        color: gray;
        margin-bottom: 10px;
        writing-mode: vertical-rl;
        margin: 0px;
      }

      .show-name {
        display: flex;
        flex-direction: column;
        align-items: center;

        .show-title {
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .show-actions {
          display: flex;
          align-items: center;
          gap: 10px;

          .watch-button,
          .detail-button,
          .share-button {
            display: flex;
            align-items: center;
            background-color: #fdd835;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s;
          }

          .watch-button:hover,
          .detail-button:hover,
          .share-button:hover {
            background-color: #fbc02d;
          }
        }
      }
    }
  }
}